body {
  font-size: 16px;
  font-family: "Supernatural KG";
  padding: 0;
  margin: 0;
}
/* HEADER    HEADER    HEADER*/
header {
  height: 700px;
  background: url("../img/header_2.jpg") no-repeat center center;
  background-size: cover;
  position: static;
  margin-top: -20px;
  padding: 0;
  border-bottom: black 2px solid;
}
.container-fluid {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(109, 109, 109, 0.3);
  max-height: 90px;
  border-radius: 0 0 40px 40px;
  margin-top: 0px;
  position: fixed;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}
.logo {
  background: #707070;
  float: left;
  border: 1px inset lightgrey;
  border-radius: 50%;
  margin: 0px;
}
.logo:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav {
  float: right;
  margin-top: 20px;
}
nav a {
  margin-left: 80px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
nav a:hover {
  color: #000000;
  text-decoration: none;
}
nav a:focus {
  color: #000000;
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0;
  padding-left: 230px;
  clear: both;
  font-weight: 600;
  font-size: 3em;
  font-family: "Supernatural KG";
  letter-spacing: 1.8px;
  line-height: 1.5;
  position: relative;
  top: 130px;
}
header > h2 {
  overflow: hidden;
  text-align: left;
  padding: 0;
  padding-left: 200px;
  margin: 0;
  font-weight: 600;
  font-size: 3em;
  font-family: "Supernatural KG";
  letter-spacing: 1.8px;
  line-height: 1.5;
  position: relative;
  top: 130px;
}
/* WORKS    WORKS    WORKS*/
.works {
  height: 500px;
  padding-top: 1px;
  display: block;
  background: #6d6d6d;
}
.works h2 {
  text-align: center;
  font-size: 2em;
}
/* PROFILE    PROFILE    PROFILE*/
h2 {
  text-align: center;
  font-size: 2em;
}
